.recipe-card-container {
  border: grey 1px solid;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em grey;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.recipe-card-container .img-card {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  height: 80%;
  margin: 2%;
  width: 50%;
}

.recipe-card-container .recipe-card {
  color: black;
  margin: 2% 0;
  padding-left: 5%;
}

.recipe-card-container .categorie-card {
  color: grey;
  padding-left: 5%;
}

.recipe-card-container .btn-ver-mais {
  background-color: white;
  border: none;
  padding-left: 5%;
  text-decoration: underline;
}

.recipe-card-container .btn-ver-mais:hover {
  color: blue;
}

.container-imgR {
  width: 100%;
}

.container-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3% 0 3%;
  width: 100%;
}

.linkDt {
  text-decoration: none;
}
