.recipe-card-container {
  border: grey 1px solid;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  height: 80%;
  margin: 2%;
  width: 50%;
}

.recipe-card-container .img-card {
  border-radius: 10px;
  display: block;
  height: 55%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.recipe-card-container .recipe-card {
  color: black;
  margin: 2% 0;
  padding-left: 5%;
}

.recipe-card-container .categorie-card {
  color: grey;
  padding-left: 5%;
}

.recipe-card-container .btn-ver-mais {
  background-color: white;
  border: none;
  padding-left: 5%;
  text-decoration: underline;
}

.recipe-card-container .btn-ver-mais:hover {
  color: blue;
}
