.recipe-card-container {
  border: grey 1px solid;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em grey;
  height: 20em;
  margin: 0.5em;
  width: 20em;
}

.recipe-card-container .img-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25em;
  width: 75%;
}

.recipe-card-container .recipe-card {
  color: black;
  padding-left: 1vh;
}

.recipe-card-container .categorie-card {
  color: grey;
  padding-left: 1vh;
}

.recipe-card-container .btn-ver-mais {
  padding-left: 1vh;
  text-decoration: underline;  
}

.recipe-card-container .btn-ver-mais:hover {
color: blue;
}